.navbar {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #0056b3; /* azul confiável */
  }
  
  /* Navbar links */
  .navbar .nav-link {
    color: rgb(16, 0, 99) !important;
    font-weight: 500;
  }
  .navbar .nav-link:hover {
    color: #32b854 !important; /* amarelo destaque */
  }
  
  /* Botão WhatsApp flutuante */
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    text-decoration: none;
  }
  
  /* Header da página inicial */
  .dja-header {
    margin-top: 80px; /* espaço pra navbar fixa */
    margin-bottom: 40px;
    text-align: center;
    color: #00002c; /* azul do transporte escolar */
  }
  
  /* Cards de diferenciais */
  .card-text-small {
    font-size: 15px;
    color: #000035;
  }
  .card-diferencial {
    border-left: 5px solid #150046; /* destaque amarelo */
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .card-diferencial:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(9, 0, 63);
  }
  
  /* Fotos da equipe */
  .team-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    border: 4px solid #09005a;
  }
  
  /* Cards de rotas */
  .rota-card {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #afbad8; /* amarelo chamativo */
    color: rgb(5, 0, 26);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .rota-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgb(5, 0, 26);
  }
  
  /* Botões */
  .btn-primary {
    background-color: #1a0063;
    border-color: #1a0063;
  }
  .btn-primary:hover {
    background-color: #25D366;
    border-color: #25D366;
  }
  .btn-success {
    background-color: #25D366;
    border-color: #25D366;
  }
  .btn-success:hover {
    background-color: #1a0063;
    border-color: #1a0063;
  }
  
  /* Botões centrais */
  .btn-center {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  body{
    background-color: #e6e6fd;
  }
